<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email (simple)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<style>
		table, td, th {
		border: 1px solid #ddd;
		text-align: left;
		}

		table {
		border-collapse: collapse;
		}

		th, td {
		padding: 15px;
		background-color: #9E9E9E;
		}
	</style>

</head>

<body>

	<div>
		<table style="border: 1px solid #dbe383 display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;" align="center" border="0" cellpadding="0" cellspacing="0" width="805">
			<tbody>
				<tr>
					<td>
						<div style="background-color: #dbe383; padding: 10px; margin: 0 3px; border: 0px;">
							<p><b> Dear Tamaar Team, <br/>
								<br/> 
								&nbsp; We have received the following client message, please do the needful.</b></p>
						</div>
					</td>	
				</tr>
				<tr>
					<td>
						<div style="background-color: #dbe383; padding: 10px; margin: 0 3px; border: 0px;">
							<p><b>Source Site :</b></p>
							<p th:text="${sourceSite}"></p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="background-color: #dbe383; padding: 10px; margin: 0 3px; border: 0px;">
							<p><b>Name :</b></p>
							<p th:text="${name}"></p>		
						</div>
					</td>	
				</tr>
				<tr>
					<td>
						<div style="background-color: #dbe383; padding: 10px; margin: 0 3px; border: 0px;">
							<p><b>Phone Number :</b></p>
							<p th:text="${phoneNumber}"></p>		
						</div>
					</td>	
				</tr>
				<tr>
					<td>
						<div style="background-color: #dbe383; padding: 10px; margin: 0 3px; border: 0px;">
							<p><b>Emai Id :</b></p>
							<p th:text="${email}"></p>		
						</div>
					</td>	
				</tr>
				<tr>
					<td>
						<div style="background-color: #dbe383; padding: 10px; margin: 0 3px; border: 0px;">
							<p><b>Message :</b></p>
							<p th:text="${clientMessage}"></p>		
						</div>
					</td>	
				</tr>

				<tr>
					<td>
						<div style="background-color: #dbe383; padding: 10px; margin: 0 3px; border: 0px;">
							<table >
								<tbody>
									<tr>
										<td>
											<p style="font-weight: bolder; color: #333333; font-size: 14pt;"><b>Best Regards</b></p>
										<br/>
										<font style="font-weight: bolder; color: #333333; font-size: 11pt;">Tamaar Skin Care</font><br/>
										<font style="color: #1A1A1F; font-weight: bold; font-style: italic; font-size: 12px;">Email:</font>
											<font style="color: #1A1A1F; font-size: 10pt; font-weight: bold; font-style: italic;">
												<a href="mailto:customercare@tamaarskincare.com" style="color: #1F497D; text-decoration: none;">customercare@tamaarskincare.com</a>:
											</font>		
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="background-color: #dbe383; padding: 10px; margin: 0 3px; border: 1px solid #6c6c6c;">
							<p><b>Unsubscribe Policy:</b></p>
							<p>	If you do not wish to benefit from our recruitment services, please email us at customercare@tamaarskincare.com with unsubscribe in the subject header </p>
						</div>
					</td>	
				</tr>
			</tbody>
		</table>
	
		
	</div>
	
</body>
</html>
